%h1 Listing users

= link_to 'New User', new_user_path, class: "btn btn-info"

%hr

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Email
      %th First name
      %th Last name
      %th Actions

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td
          = link_to 'Show', user, class: "btn btn-primary btn-sm"
          = link_to 'Edit', edit_user_path(user), class: "btn btn-warning btn-sm"
          = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
