%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b First Name:
  = @user.first_name
%p
  %b Last Name:
  = @user.last_name

- unless @user.avatar_file_name.nil?
  %p
    %b Avatar:
    = image_tag(@user.avatar.url, class: "avatar_img")

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
