%h3 Books
%ul
  %li
    = "#{ t('books.total_number_books') }:"
    = @books_all
  %li
    = "#{ t('books.number_available_books') }:"
    = @books_available
  %li
    = "#{ t('books.number_of_borrowed_books') }:"
    = @books_borrowed

%hr

%h3 Users
%ul
  %li
    = "#{ t('users.total_number_users') }:"
    = @users_all

  %li
    = "#{ t('users.number_users_at_least_one_book') }:"
    = @users_with_loans