%h3 Books
%ul
  %li= "#{ t('books.total_number_books') }:"
  %li= "#{ t('books.number_available_books') }:"
  %li= "#{ t('books.number_of_borrowed_books') }:"

%hr

%h3 Users
%ul
  %li= "#{ t('users.total_number_users') }:"
  %li= "#{ t('users.number_users_at_least_one_book') }:"