%p#notice= notice

%h3 List of loans

- if @books.empty?
  %h3 No loans yet!
- else
  %table.table.table-striped.table-bordered
    %tbody
      %tr
        %td Title
        %td Author
        %td Borrower
        %td Actions
      - @books.each do |book|
        %tr
          %td= book.title
          %td= book.author
          %td= link_to(book.user.full_name, user_path(book.user))
          %td= link_to('Return it', book_return_loan_path(book), method: 'put', class: 'btn btn-primary btn-xs', :data => { :confirm => 'Are you sure?' })